{% extends "_base.html" %}

{% block page %}simple-page{% endblock page %}
{% block title %}{{ page.title }}{% endblock title %}
{% block desc %}
  {% if page.description %}
    {% set desc = page.description %}
  {% else %}
    {% set desc = config.description %}
  {% endif %}
  <meta name="description" content="{{ desc }}">
{% endblock desc %}

{% block content %}
<div id="wrapper">
  <main>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
        {% if page.date %}
        <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">
          {{ page.date | date(format='%Y年%m月%d日') }}
        </time>
        {% endif %}
      </header>
      <div class="content">
        {{ page.content | safe }}
      </div>
    </article>
  </main>
</div>
{% endblock content %}
